header {
    height: 10%;
    width: 100%;
}

#nav-belt-1 {
    height: 10%;
}

.nav-left {
    display: flex;
}

#nav-logo {
    height: 7%;
    width: 7%;
    margin: 3px 10px;
}

#nav-belt-2 {
    display: flex;
    color: white;
    gap: 1rem;
}

#nav-left{
    display: flex;
}

.nav-belt-2-links {
    border: 1px solid white; /*remove after final commit */
.nav-belt-2-links {
    border: solid white;
}