header {
    height: 20%;
    width: 100%;
}

.nav-left {
    display: flex;
}

#nav-logo {
    height: 10%;
    width: 10%;
    margin: 3px 10px;
}

#nav-belt-2 {
    display: flex;
    color: white;
    gap: 1rem;
}

.nav-belt-2-links {
    border: solid white;
}